include styles
include scripts

.weatherWidget
  each val in locals.partials.weatherContext
    .location
      h3= val.location.name
      a(href=`${val.forecastUrl}`)
        img(src=`${val.iconUrl}`, alt=`${val.weather}`)
        | #{ val.weather }, #{ val.temp }
    small
      | Source:
      a(href='https://openweathermap.org') OpenWeatherMap
